.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 45px;
}

.button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.user-review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.username {
  color: #ffffff;
}
